{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <section class="login">
        <div class="form-group m-4">
            <h1>Se connecter</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <form action="{{ path('app_login') }}" method="post">
                    <div class="input-group flex-nowrap mt-2">
                        <span class="input-group-text" id="basic-addon1">E-mail</span>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" aria-describedby="addon-wrapping"/>
                    </div>

                    <div class="input-group flex-nowrap mt-2">
                        <span class="input-group-text" id="basic-addon1">Mot de passe</span>
                        <input type="password" id="password" name="_password" required="required" class="form-control" aria-describedby="addon-wrapping"/>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button type="submit" class="btn btn-light mt-2">Connexion</button>
                
            </form>
        </div>
    </section>
{% endblock %}
