{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h1>Créer un utilisateur</h1>{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Formulaire de création d'utilisateur</h2>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Créer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
